/* Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) { 
.logo{
	width: 150px;
}
.menu ul li a {
      text-align: left;
   margin-left: -4px;
    margin-top: -8px;
}
.menu ul li{
        transition: .5s;
        padding: 2px 0;
    }
    .menu ul li:hover{
        color: red;
    }
    .menu ul li a{
        display: inline-block;
    } 

}

/* Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) and (max-width: 767.98px) {


 }

/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991.98px) { 
.menu ul li a {
    padding: 0 0px !important;
    padding-top: 8px !important;
    text-align: right;
}


 }

/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1199.98px) { 



 }

/* Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) { 



 }